.ontop-cursor-auto {
  cursor: auto;
}
.ontop-cursor-default {
  cursor: default;
}
.ontop-cursor-pointer {
  cursor: pointer;
}
.ontop-cursor-wait {
  cursor: wait;
}
.ontop-cursor-text {
  cursor: text;
}
.ontop-cursor-move {
  cursor: move;
}
.ontop-cursor-help {
  cursor: help;
}
.ontop-cursor-not-allowed {
  cursor: not-allowed;
}
.ontop-cursor-none {
  cursor: none;
}
.ontop-cursor-context-menu {
  cursor: context-menu;
}
.ontop-cursor-progress {
  cursor: progress;
}
.ontop-cursor-cell {
  cursor: cell;
}
.ontop-cursor-crosshair {
  cursor: crosshair;
}
.ontop-cursor-vertical-text {
  cursor: vertical-text;
}
.ontop-cursor-alias {
  cursor: alias;
}
.ontop-cursor-copy {
  cursor: copy;
}
.ontop-cursor-no-drop {
  cursor: no-drop;
}
.ontop-cursor-grab {
  cursor: grab;
}
.ontop-cursor-grabbing {
  cursor: grabbing;
}
.ontop-cursor-all-scroll {
  cursor: all-scroll;
}
.ontop-cursor-col-resize {
  cursor: col-resize;
}
.ontop-cursor-row-resize {
  cursor: row-resize;
}
.ontop-cursor-n-resize {
  cursor: n-resize;
}
.ontop-cursor-e-resize {
  cursor: e-resize;
}
.ontop-cursor-s-resize {
  cursor: s-resize;
}
.ontop-cursor-w-resize {
  cursor: w-resize;
}
.ontop-cursor-ne-resize {
  cursor: ne-resize;
}
.ontop-cursor-nw-resize {
  cursor: nw-resize;
}
.ontop-cursor-se-resize {
  cursor: se-resize;
}
.ontop-cursor-sw-resize {
  cursor: sw-resize;
}
.ontop-cursor-ew-resize {
  cursor: ew-resize;
}
.ontop-cursor-ns-resize {
  cursor: ns-resize;
}
.ontop-cursor-nesw-resize {
  cursor: nesw-resize;
}
.ontop-cursor-nwse-resize {
  cursor: nwse-resize;
}
.ontop-cursor-zoom-in {
  cursor: zoom-in;
}
.ontop-cursor-zoom-out {
  cursor: zoom-out;
}
